A.link {
	color: blue;
	text-decoration: underline;
}
A.visited {
	color: purple;
	text-decoration: underline;
}
A.active {
	color: red;
	text-decoration: underline;
}
P.APPENDIX-thumb {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 75.599991pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.ATTN-BOX-graphic {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.ATTN-BOX-text {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.BULLET-1-bottom, H2.BULLET-1-bottom, H3.BULLET-1-bottom, H4.BULLET-1-bottom, H5.BULLET-1-bottom, H6.BULLET-1-bottom {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-1-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-1-continue-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-1-middle {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 3.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-1-single {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.BULLET-1-top, H2.BULLET-1-top, H3.BULLET-1-top, H4.BULLET-1-top, H5.BULLET-1-top, H6.BULLET-1-top {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-2-bottom {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-2-bottom-kill {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-2-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-2-continue-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-2-continue-kill-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-2-middle {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-2-single {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-2-single-kill {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-2-top {
	display: block;
	text-align: left;
	text-indent: -10.800003pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.BULLET-3-bottom, H2.BULLET-3-bottom, H3.BULLET-3-bottom, H4.BULLET-3-bottom, H5.BULLET-3-bottom, H6.BULLET-3-bottom {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 3.599991pt;
	margin-left: 198.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-3-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 3.599991pt;
	margin-left: 198.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.BULLET-3-middle, H2.BULLET-3-middle, H3.BULLET-3-middle, H4.BULLET-3-middle, H5.BULLET-3-middle, H6.BULLET-3-middle {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 3.599991pt;
	margin-left: 198.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-3-single {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 3.599991pt;
	margin-left: 198.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.BULLET-3-top, H2.BULLET-3-top, H3.BULLET-3-top, H4.BULLET-3-top, H5.BULLET-3-top, H6.BULLET-3-top {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 3.599991pt;
	margin-left: 198.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-4-bottom {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 252.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-4-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 252.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.BULLET-4-continue-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 252.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-4-middle {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 252.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-4-single {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 252.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-4-top {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 252.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-table-bottom {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-table-middle {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.BULLET-table-top {
	display: block;
	text-align: left;
	text-indent: -14.400009pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.CHAPTER-list-bottom, H2.CHAPTER-list-bottom, H3.CHAPTER-list-bottom, H4.CHAPTER-list-bottom, H5.CHAPTER-list-bottom, H6.CHAPTER-list-bottom {
	display: block;
	text-align: right;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 16.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.CHAPTER-list-middle {
	display: block;
	text-align: right;
	text-indent: -14.400009pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.CHAPTER-list-top, H2.CHAPTER-list-top, H3.CHAPTER-list-top, H4.CHAPTER-list-top, H5.CHAPTER-list-top, H6.CHAPTER-list-top {
	display: block;
	text-align: right;
	text-indent: -14.400009pt;
	margin-top: 11.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.CHAPTER-thumb {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.719986pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.CODE-1-bottom, H2.CODE-1-bottom, H3.CODE-1-bottom, H4.CODE-1-bottom, H5.CODE-1-bottom, H6.CODE-1-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-1-middle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-1-single {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
H1.CODE-1-top, H2.CODE-1-top, H3.CODE-1-top, H4.CODE-1-top, H5.CODE-1-top, H6.CODE-1-top {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-2-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-2-middle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-2-single {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-2-top {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-3-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-3-middle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-3-single {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-3-top {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-4-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-4-middle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-4-single {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.CODE-4-top {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.DEFLIST-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.DEFLIST-continue-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.DEFLIST-defn {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.DEFLIST-defn-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.DEFLIST-term, H2.DEFLIST-term, H3.DEFLIST-term, H4.DEFLIST-term, H5.DEFLIST-term, H6.DEFLIST-term {
	display: block;
	text-align: left;
	text-indent: -144.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.DEFLIST-term-top, H2.DEFLIST-term-top, H3.DEFLIST-term-top, H4.DEFLIST-term-top, H5.DEFLIST-term-top, H6.DEFLIST-term-top {
	display: block;
	text-align: left;
	text-indent: -144.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 234.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.EXMP-BOX-example {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 7.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.EXMP-BOX-exmp-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.EXMP-BOX-exmp-middle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.EXMP-BOX-exmp-single {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.EXMP-BOX-exmp-top {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
LI.EXMP-BOX-label {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.FIGURE-caption {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.FIGURE-graphic {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.FOOTER-first {
	display: block;
	text-align: justify;
	text-indent: 7.199997pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.FOOTER-left {
	display: block;
	text-align: justify;
	text-indent: 7.199997pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.FOOTER-right {
	display: block;
	text-align: justify;
	text-indent: 7.199997pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.Footnote {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 18.000000pt;
	margin-left: 18.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.GLOSSARY-item {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 3.599991pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
P.GroupTitlesIX {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADER-first {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADER-left {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADER-left-front-back {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADER-right {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADER-right-front-back {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.HEADING-0, H2.HEADING-0, H3.HEADING-0, H4.HEADING-0, H5.HEADING-0, H6.HEADING-0 {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 14.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 28.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.HEADING-00, H2.HEADING-00, H3.HEADING-00, H4.HEADING-00, H5.HEADING-00, H6.HEADING-00 {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 18.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.HEADING-0TOC {
	display: block;
	text-align: left;
	text-indent: -108.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
H1.HEADING-1, H2.HEADING-1, H3.HEADING-1, H4.HEADING-1, H5.HEADING-1, H6.HEADING-1 {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 13.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 21.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-1A {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 24.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 30.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.HEADING-1ATOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.HEADING-1TOC {
	display: block;
	text-align: left;
	text-indent: -108.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
H1.HEADING-2, H2.HEADING-2, H3.HEADING-2, H4.HEADING-2, H5.HEADING-2, H6.HEADING-2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 15.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 15.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-2TOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 1.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
H1.HEADING-3, H2.HEADING-3, H3.HEADING-3, H4.HEADING-3, H5.HEADING-3, H6.HEADING-3 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 16.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-3-page-break {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-3-page-breakTOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.HEADING-3-step-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-3-step-continueTOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.HEADING-3-step-start {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 14.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-3-step-startTOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.HEADING-3TOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
H1.HEADING-4, H2.HEADING-4, H3.HEADING-4, H4.HEADING-4, H5.HEADING-4, H6.HEADING-4 {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 16.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 13.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-4-repeating {
	display: block;
	text-align: left;
	text-indent: -72.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 15.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.HEADING-4TOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
H1.HEADING-5, H2.HEADING-5, H3.HEADING-5, H4.HEADING-5, H5.HEADING-5, H6.HEADING-5 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 17.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-5-help {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 23.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 15.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.HEADING-5-repeating {
	display: block;
	text-align: left;
	text-indent: 18.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 72.000000pt;
	font-size: 15.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.HEADING-appendix {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 10.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 21.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.HEADING-appendixTOC {
	display: block;
	text-align: left;
	text-indent: -108.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
H1.HEADING-auxiliary, H2.HEADING-auxiliary, H3.HEADING-auxiliary, H4.HEADING-auxiliary, H5.HEADING-auxiliary, H6.HEADING-auxiliary {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-back-matter {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 24.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 21.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-back-matterTOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.HEADING-chapter-part-graphic {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 75.599991pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-front-matter {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 47.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 21.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.HEADING-front-matterTOC {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.HEADING-front-back-matter {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 47.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 21.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.HEADING-front-back-matter-2, H2.HEADING-front-back-matter-2, H3.HEADING-front-back-matter-2, H4.HEADING-front-back-matter-2, H5.HEADING-front-back-matter-2, H6.HEADING-front-back-matter-2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 9.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.HEADING-front-back-matterTOC {
	display: block;
	text-align: left;
	text-indent: 18.000000pt;
	margin-top: 20.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.HEADING-product-name {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 24.000000pt;
	margin-bottom: 24.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000ff;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
P.IndexIX {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.INSTR-1-bottom {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-1-first-item {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
LI.INSTR-1-last-item {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
LI.INSTR-1-middle {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.INSTR-1-result {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.INSTR-1-result-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-1-single {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-1-top {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-2-bottom {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-2-bottom-kill {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-2-kill {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-2-middle {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.INSTR-2-result {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.INSTR-2-result-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.INSTR-2-result-kill-kill {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-2-top {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-alt-bottom {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-alt-middle {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-alt-top {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-heading {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 10.000000pt;
	margin-bottom: 4.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.INSTR-result-1 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
P.INSTR-result-2 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
LI.INSTR-walk-result {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-walk-screen {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
LI.INSTR-walkthrough {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 8.000000pt;
	margin-bottom: 8.000000pt;
	margin-right: 0.000000pt;
	margin-left: 108.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.INSTR-walkthrough-result {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 115.199997pt;
	font-size: 11.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.INSTR-walkthrough-screenshot {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 115.199997pt;
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.INSTR-walkthrough-table {
	display: block;
	text-align: left;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 25.199997pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-access {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-compiler {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 4.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.LABEL-continue {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-declaration {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 3.000000pt;
	margin-right: 3.599991pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
H1.LABEL-default, H2.LABEL-default, H3.LABEL-default, H4.LABEL-default, H5.LABEL-default, H6.LABEL-default {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-description {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 7.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.LABEL-equivalent, H2.LABEL-equivalent, H3.LABEL-equivalent, H4.LABEL-equivalent, H5.LABEL-equivalent, H6.LABEL-equivalent {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.LABEL-example-bottom {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
P.LABEL-example-middle {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
LI.LABEL-example-single {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.LABEL-example-top, H2.LABEL-example-top, H3.LABEL-example-top, H4.LABEL-example-top, H5.LABEL-example-top, H6.LABEL-example-top {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Courier";
}
H1.LABEL-inputs, H2.LABEL-inputs, H3.LABEL-inputs, H4.LABEL-inputs, H5.LABEL-inputs, H6.LABEL-inputs {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.LABEL-name, H2.LABEL-name, H3.LABEL-name, H4.LABEL-name, H5.LABEL-name, H6.LABEL-name {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 3.599991pt;
	margin-left: 90.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.LABEL-note, H2.LABEL-note, H3.LABEL-note, H4.LABEL-note, H5.LABEL-note, H6.LABEL-note {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.LABEL-outputs, H2.LABEL-outputs, H3.LABEL-outputs, H4.LABEL-outputs, H5.LABEL-outputs, H6.LABEL-outputs {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-parameters {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-parsing {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-screencapture {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.LABEL-see-also, H2.LABEL-see-also, H3.LABEL-see-also, H4.LABEL-see-also, H5.LABEL-see-also, H6.LABEL-see-also {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-setting {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.LABEL-side-effects {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-type {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.LABEL-unparsing {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.LABEL-values {
	display: block;
	text-align: left;
	text-indent: -90.000000pt;
	margin-top: 3.000000pt;
	margin-bottom: 1.000000pt;
	margin-right: 0.000000pt;
	margin-left: 180.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.Level1IX {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.Level2IX {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 18.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.Level3IX {
	display: block;
	text-align: justify;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 36.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.Mapping-Table-Cell {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.Mapping-Table-Title {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 14.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
H1.NOTE-1, H2.NOTE-1, H3.NOTE-1, H4.NOTE-1, H5.NOTE-1, H6.NOTE-1 {
	display: block;
	text-align: left;
	text-indent: -36.000000pt;
	margin-top: 11.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.NOTE-2 {
	display: block;
	text-align: justify;
	text-indent: -36.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 144.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.NOTELIST-1-bottom {
	display: block;
	text-align: justify;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.NOTELIST-1-heading {
	display: block;
	text-align: justify;
	text-indent: -36.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
LI.NOTELIST-1-middle {
	display: block;
	text-align: justify;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.NOTELIST-1-top {
	display: block;
	text-align: justify;
	text-indent: -18.000000pt;
	margin-top: 5.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
LI.NOTELIST-1-top-item {
	display: block;
	text-align: justify;
	text-indent: -18.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 126.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
LI.NOTELIST-2-heading {
	display: block;
	text-align: justify;
	text-indent: -36.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 144.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.NOTELIST-2-middle-items {
	display: block;
	text-align: justify;
	text-indent: -18.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 144.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
LI.NOTELIST-2-top-item {
	display: block;
	text-align: justify;
	text-indent: -18.000000pt;
	margin-top: 6.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 144.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
P.PARAGRAPH {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.PARAGRAPH-offset {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 11.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.PARAGRAPH-xref {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.PART-thumb {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.719986pt;
	font-size: 72.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
H1.SCREEN-CAPTURE-1, H2.SCREEN-CAPTURE-1, H3.SCREEN-CAPTURE-1, H4.SCREEN-CAPTURE-1, H5.SCREEN-CAPTURE-1, H6.SCREEN-CAPTURE-1 {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 90.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.SCREEN-CAPTURE-2 {
	display: block;
	text-align: left;
	text-indent: 108.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
H1.SCREEN-CAPTURE-3, H2.SCREEN-CAPTURE-3, H3.SCREEN-CAPTURE-3, H4.SCREEN-CAPTURE-3, H5.SCREEN-CAPTURE-3, H6.SCREEN-CAPTURE-3 {
	display: block;
	text-align: left;
	text-indent: 180.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.SCREEN-CAPTURE-4 {
	display: block;
	text-align: left;
	text-indent: 234.000000pt;
	margin-top: 12.000000pt;
	margin-bottom: 12.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.SCREEN-CAPTURE-TABLE {
	display: block;
	text-align: center;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 2.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.separatorsIX {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.SeparatorsIX {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 15.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 15.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TABLE-cell {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.TABLE-column-label {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.TABLE-head {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 10.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TABLE-list {
	display: block;
	text-align: left;
	text-indent: 18.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
P.TABLE-row-heading {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 10.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TABLE-row-heading-common {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #0000ff;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
LI.TableTitle1 {
	display: block;
	text-align: left;
	text-indent: 90.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.TableTitle2 {
	display: block;
	text-align: left;
	text-indent: 108.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.TableTitle3 {
	display: block;
	text-align: left;
	text-indent: 180.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
LI.TableTitle4 {
	display: block;
	text-align: left;
	text-indent: 234.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 11.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times New Roman";
}
P.TITLE-company {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-customer {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-date {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 18.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-graphic {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 18.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 36.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-name {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 14.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 28.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-product {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 14.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 28.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-status {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 6.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.TITLE-version {
	display: block;
	text-align: right;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 5.000000pt;
	margin-right: 3.599991pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #5047cc;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
P.XREF-PARA {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 2.000000pt;
	margin-bottom: 0.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.000000pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
P.XREF-paragraph {
	display: block;
	text-align: left;
	text-indent: 0.000000pt;
	margin-top: 0.000000pt;
	margin-bottom: 2.000000pt;
	margin-right: 0.000000pt;
	margin-left: 0.719986pt;
	font-size: 11.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
EM.AsIs-bold {
	font-weight: Bold;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.AsIs-italic {
	font-style: Italic;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
EM.asis-underline {
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
}
EM.AsIs-underline {
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
}
EM.asis-uppercase {
	text-transform: uppercase;
}
EM.courier {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Courier";
}
EM.Dingbat-Symbols {
	font-size: 7.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #5047cc;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.Dingbat-Symbols-big {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #5047cc;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.Dingbat-Symbols-bold {
	font-size: 11.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.Dingbat-Symbols-small {
	font-size: 9.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.emphasis {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #af0000;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.EquationVariables {
	font-style: Italic;
}
EM.heading-style {
	font-size: 11.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #5047cc;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
EM.heading-style-big {
	font-size: 14.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #4c3f32;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Arial";
}
EM.Helvetica-bold {
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.Helvetica-bold-emphasis {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #af0000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.Helvetica-regular {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.hot {
	color: #af0000;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
}
EM.hot-pagenum {
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #af0000;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Palatino";
}
EM.hot-TOC {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #af0000;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.hot-TOC-big {
	font-size: 15.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #af0000;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.hot-TOC-bold {
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #af0000;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.hot-underline {
	color: #4c3f32;
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
}
EM.Invisible {
	color: #ffffff;
}
EM.Label {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.palatino-bold {
	font-size: 12.000000pt;
	font-weight: Bold;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Palatino";
}
EM.palatino-default {
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Palatino";
}
EM.palatino-italic {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Oblique;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Helvetica";
}
EM.popup {
	font-size: 12.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Times";
}
EM.Subscript {
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: sub;
	text-transform: none;
	font-family: "Times";
}
EM.Superscript {
	font-size: 10.000000pt;
	font-weight: medium;
	font-style: Regular;
	color: #000000;
	text-decoration: none;
	vertical-align: super;
	text-transform: none;
	font-family: "Times";
}
EM.term {
	color: #af0000;
	text-decoration: underline ;
}
EM.Underline {
	text-decoration: underline ;
	vertical-align: baseline;
	text-transform: none;
}
EM.zapf-dingbat {
	font-size: 12.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
EM.zapf-small {
	font-size: 10.000000pt;
	font-weight: Medium;
	font-style: Regular;
	color: #000068;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
	font-family: "Wingdings";
}
